To-do:
1. Т.к в нашем распоряжении есть расчет скора по нескольким статусам, необходимо объединить 2 показателя в единую метрику оценки. Разработайте функцию объеденения, например рачетом среднего арифметического показателей по статусам. На вход функция должна принимать pandas dataframe с расчетом скора по статуасам, на выходе должен быть pandas dataframe со схемой {"assignee_id":assignne_id,"score_value":score_total}
2. В примере представлен скоринг только по одному агенту поддержки. Необходимо разработать программный код для скоринга по статусам всех имеющихся пользователям, результаты расчета сохранить в один pandas dataframe. Точно так же сформировать итоговый скор по каждому агенту поддержки и сохранить во второй pandas dataframe. В итоге у вас должно получиться 2 pandas dataframe, в одном результаты скоринга агентов поддержки в разрезе статуса (closed, solved), во втором результаты итогово скоринга агентов поддержки
3. Записать результаты расчетов в соответствующие таблицы базы данных BigQuery. В примере представлена функция для записи данных скоринга по статусам, сделайте это функцию универсальной для записи обоих наборов данных в соответствующие таблицы
4. Подготовка продакшен программного кода. Организуйте функции расчета скоринга в отдельный lib_main.py . Ораганизуйте __main__.py файл, импортируйте в него сожержимое файла lib_main.py, разработайте программный код извлечения сырых данных из базы данныз BigQuery, расчет скоринга по статусам и итогового скоринга, сделайте запись результатов работы алгоритма скоринга в соответствующие таблицы базы данных BigQuery. В итоге при запуске __main__.py файла должен полностью выполняться весь алгоритм скоринга без дополнительного вмешательства.
---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
5. В качестве гипотезы попробуйте добавить дополнительный разрез данных - канал в котором пришло обращение и расчитать загрузку по статусам и по каналам одновременно
6. В качестве гипотезы попробуйте использовать более робастные центральные меры данных и меры вариабильности, попробуйте иные способы формирования доверительного интервала
7. Напишите документацию к вашему алгоритму. Офишите математические концепции кратко и понятно, без глубоких выкладок, опишите источники данных, опишите схемы результирующих таблиц таким образом, чтобы было понятно любому человеку (почти)

In [1]:
from google.oauth2 import service_account
import pandas_gbq 

import numpy as np
import pandas as pd
import math as mt
import datetime as dt

In [2]:
CREDENTIALS = service_account.Credentials.from_service_account_info({
  "type": "service_account",
  "project_id": "findcsystem",
  "private_key_id": "36721f70db39fbb81267c346c2668f10ff0cf5db",
  "private_key": "-----BEGIN PRIVATE KEY-----\nMIIEvAIBADANBgkqhkiG9w0BAQEFAASCBKYwggSiAgEAAoIBAQDrna55UYM+/6kh\nGJnQ28+QWLv2Uv9D7jpSLyENeBFJMWAAWh1ZAlGctc/VgLr1vp5CU/w+2jONawMk\nFqQFoxcAAUIJT6KHHZqLU8zh7mDccpwUlfn7ZaQUbiR0J6ZH0nHmfQtk1FOs1TZU\nzJGtyNzUnpePsYJOdpsiZ+Ofh7i3kVubkOoIf/EdNdECOx2bbv7uKkERjIMYCJyh\nCRXgq2c/19CODEETmvEpUKjYCn9LSspBjTHiUUbT1JQfIAr73r1pXl52dATHIay9\nf4hNXAr8HUy0DpbiUCUdvzF5N+a8cl5tIHewNfXdv0pWMUmCJetKWk4FKIkMOlDQ\ny7Of3XdjAgMBAAECggEAGtUcww0w5LJJ6Q57qej2hOpOEZnXHz3Yn3ZljbqgQVUh\nqTiaAgJ9F9suvZJI+GaKcGRPJDtGRrMqquf3KvstSd9azWOnzzpkWLyk5w/2MPTO\naJvB2crz+i2m8iF30tMZDJYt/4AcvWCUrOiVKJTo7T/YY9Fj1Rq1xR/OsOLMev8X\nXbzU+ofW7G8gG/1FFb/qI1FsF0rz7O3zJD79OjJ8jZcz5V4FzCwg8yFumPbhDzlK\ne2oou3k55Owo2GKdRZUgmlpUSL8s3uk65q9vOOngXwp7qQMQwWueUfx608aIgeT9\n7OXBuMQ8mXbUkU7lYAWippvwejKQU0BQWpjttisanQKBgQD4kgM+BvV9R5froojE\niBaXfRf82bJpP9AH0tRWk86kaFhyGR3boioyVENkbMw54ZJVVA4zKukslzrasFUf\n+bM2595+0mtqMRWw+tiApm3ONwevOPxwn/ijTPJiqKQ96/24aA93oZcfZ9X38/4l\niFTYvMAG5YjHIsCE7zXJDRHg3QKBgQDyqIukCTIurPyHZ4EOUUZDWY50JTm0mCKg\nbTNOvM+h9lvnKHYrDrFG9gkb7lbzCZCcJJybtEUEki2D1kuJ4Wqu1/kI2ZPkp5Ie\n/ViJcxCzCj0fReo2+yOIsHHQ0AQADzmkHrMZYxYWUh8agPOB28Tw/8SZ9Dc1oVrN\nceTu+kkVPwKBgDgt6AWw1PMHp1JeXcLtbw21/CHtoeEfxwi9obgfl+iYnMTM4G6v\nbBIL8V9VJ6M9VDFs2fi+jgzB8U9T4yli6hpStXq8XAKYLWrehugstUySK25y1rst\nrKhbz7x0mQpVt/Zhrn0/TESQ108/GgWplmOV5WCpqAw50oE4/1L9XTkRAoGAD0Ir\n7beqUScNhhIrGlRf/7Is8/63PzTl0IKtXEEhKUUNiF6R96kn2pd0AS6ehw/N6ROg\nSWYvhNcQR579BwGGrNHl1fmghBtJY+t4WsRCg4+cQlAqJyTpmhnGPmQmLD7I2Boa\nFvmVFPg6/nanWT4Rhzn+CdRCeHvZ8ts7kw9n8w8CgYA3NBW4vaWh0ggxbI9dbG06\nZ6cY+b6guDlky/2HKXgZrCj+6DFVr/8XSdPw7s8ICrbywCbEZVXW+HOFb4fkZr5r\ni3VO9ihyCf9PzwgQ0hviL0fyJH1Ao3myySh5SyCxgcBoXEJhXG43aY70tQPTNLdP\n4SiylfHm6gEBJudzYov/iw==\n-----END PRIVATE KEY-----\n",
  "client_email": "xsolla-ss-2020-students@findcsystem.iam.gserviceaccount.com",
  "client_id": "105043181870281932141",
  "auth_uri": "https://accounts.google.com/o/oauth2/auth",
  "token_uri": "https://oauth2.googleapis.com/token",
  "auth_provider_x509_cert_url": "https://www.googleapis.com/oauth2/v1/certs",
  "client_x509_cert_url": "https://www.googleapis.com/robot/v1/metadata/x509/xsolla-ss-2020-students%40findcsystem.iam.gserviceaccount.com"
})

In [1]:
"""[summary]
Funtion for getting fresh data from BigQuery for workload scoring model
[description]
Credentials - google service account object with credentials data for project
SqlQuery - string, sql query for BigQeury database
[example]
Input: Credentials = credentials_object
       SqlQuery = 'select * from dataset_name.table_name'
Output: id	    created_at	        updated_at	        type	  subject   description	                                                                                          status	requester_id	submitter_id   assignee_id	 id_project	 id_invoice	channel	country	 manual_category  auto_category	 subcategory   feedback_score	feedback_comment
	    2520211	2018-02-05 08:59:15	2018-02-23 13:05:39	question	        Credit card payments not working from website.	I have been trying since Thursday 1st of Jan t...	  closed	360790164527	360790164527   20890258907	 21190	     316520736	other	za	     None	          None	         None	       unoffered	    None
        2740781	2018-08-17 01:48:04	2018-09-15 11:00:15	question	        Re: error showed during paid subscription on t...	__________________________________\nType your ... closed	365082895633	951579756	   360133124587	 15174	     367443669	email	za	     None	          None	         None	       offered	        None
"""
def getFreshData(Credentials,ProjectId):
    bigquery_sql = " ".join(["SELECT id, DATE(CAST(created_at AS DATETIME)) AS created, DATE(CAST(updated_at AS DATETIME)) AS updated, status, assignee_id",
                             "FROM `xsolla_summer_school.customer_support`",
                             "WHERE status IN ('closed','solved')",
                             "ORDER BY updated_at"])

    dataframe = pandas_gbq.read_gbq(bigquery_sql,project_id=ProjectId, credentials=Credentials, dialect="standard")

    return dataframe


"""[summary]
Function for scoring workload by statuses (In Progress and Done) for one employee, NumOfAllDays = 63, NumOfIntervalDays = 7
[description]
Data - pandas dataframe object, with hist data for customer support agent
NumOfAllDays - integer, number of days for all hist data
NumOfIntervalDays - integer, number of days for weekly calculating interval
[example]
Input: Data = id	   created	   updated	   status	assignee_id
              2936149  2018-12-31  2019-01-30  closed	26979706288
              2936171  2018-12-31  2019-01-30  closed	26979706288
       NumOfAllDays = 63
       NumOfIntervalDays = 7
Output: assignee_id	 status	 count_last_period	count_mean_calc_period	count_sem_calc_period	score_value
        12604869947	 closed	 196	            196.62	                9.43	                1
        12604869947	 solved	 0	                0.00	                0.00	                0    
"""
def workloadScoringByStatuses(Data,NumOfAllDays,NumOfIntervalDays):
    assignee_id = np.unique(Data.assignee_id)
    assignee_id = assignee_id[0]
    
    #splitting by status
    statuses = np.unique(Data.status)
    assignee_id_list = []
    status_list = []
    avg_num_of_task_per_week_list = []
    ste_list = []
    num_tasks_per_current_week_list = []
    score_for_status_list = []
    for status in statuses:
        dataframe_status = Data[(Data.status == str(status))][:]
    
        #time borders params
        curr_date = dt.datetime.strptime(str('2018-08-01'),'%Y-%m-%d')
        curr_date = curr_date.date()
        delta = dt.timedelta(days=NumOfAllDays)
        first_date = curr_date-delta
    
        #time interval params
        delta_interval = dt.timedelta(days=NumOfIntervalDays)
        first_interval = first_date+delta_interval
            
        num_of_intervals = int(NumOfAllDays/NumOfIntervalDays)
        num_tasks_per_week = []
        for i in range(0,num_of_intervals):
            interval = dataframe_status[(dataframe_status.updated >= str(first_date)) & (dataframe_status.updated <= str(first_interval))][:]
            first_date = first_date + delta_interval
            first_interval = first_interval + delta_interval
    
            if i != (num_of_intervals-1):        
                num_of_tasks = len(np.unique(interval['id']))
                num_tasks_per_week.append(num_of_tasks) #history number of tasks
            else:
                num_tasks_per_current_week = len(np.unique(interval['id'])) #currently number of tasks
        
        avg_num_of_task_per_week = round(np.mean(num_tasks_per_week),2)

        #squared deviations
        x_values = []
        for num in num_tasks_per_week:
            x = round((num - avg_num_of_task_per_week)**2,2)
            x_values.append(x)

        #data sampling statistics
        x_sum = round(sum(x_values),2) #sum of squared deviations
        dispersion = round(x_sum/(num_of_intervals-1),2) #dispersion
        std = round(mt.sqrt(dispersion),2) #standart deviation for sample
        ste = round(std/mt.sqrt(num_of_intervals),2) #standart error for sample

        #confidence interval
        left_border = int(avg_num_of_task_per_week - ste)
        right_border = int(avg_num_of_task_per_week + ste)

        #workload scoring for status
        score_for_status = workloadScoreStatuses(left_border,right_border,num_tasks_per_current_week)        
        assignee_id_list.append(assignee_id)
        status_list.append(status)
        avg_num_of_task_per_week_list.append(avg_num_of_task_per_week)
        ste_list.append(ste)
        num_tasks_per_current_week_list.append(num_tasks_per_current_week)
        score_for_status_list.append(score_for_status)
        
    score_data = {"assignee_id":assignee_id_list,"status":status_list,
                  "count_last_period":num_tasks_per_current_week_list,"count_mean_calc_period":avg_num_of_task_per_week_list,"count_sem_calc_period":ste_list,
                  "score_value":score_for_status_list}
    scores = pd.DataFrame(data=score_data)

    return scores


"""[summary]
Function for scoring workload for current status
[description]
LeftBoard - float, left boarder for confidence interval
RightBoard - float right boarder for confidence interval
CurrentNumOfTasks - integer, number of customer support agent tasks for current interval (7 days)
[example]
Input: LeftBoard = 187
       RightBoard = 206
       CurrentNumOfTasks = 196
Output: 1
"""
def workloadScoreStatuses(LeftBoard,RightBoard,CurrentNumOfTasks):
    if (LeftBoard == 0) & (CurrentNumOfTasks == 0) & (RightBoard == 0):
        score = 0
    elif (CurrentNumOfTasks >= 0) & (CurrentNumOfTasks < LeftBoard):
        score = 0
    elif (CurrentNumOfTasks >= LeftBoard) & (CurrentNumOfTasks <= RightBoard):
        score = 1
    else:
        score = 2
    
    return score


"""[summary]
Function for inserting data to BigQuery database
[description]
InsertDataFrame - pandas dtaframe object, with score result data by statuses
ProjectId - string, name of project in google cloud platform 
DatasetId - string, name of dataset in bigquery for raw data
TableId - string, name of table for raw data
[example]
Input: InsertDataFrame = assignee_id	status	count_last_period	count_mean_calc_period	count_sem_calc_period	score_value
                         11527290367	closed	163	                140.38	                12.4	                2
                         11527290367	solved	0	                0.00	                0.0 	                0
       ProjectId = 'test-gcp-project'
       DatasetId = 'test_dataset'
       TableId = 'test_table'
"""
def insertScoreResultData(InsertDataFrame,ProjectId,DatasetId,TableId):
    destination_table = f"{DatasetId}.{TableId}"
    
    res_df = pd.DataFrame()
    res_df['assignee_id'] = InsertDataFrame['assignee_id'].astype('int64')
    res_df['status'] = InsertDataFrame['status'].astype('str')
    res_df['count_last_period'] = InsertDataFrame['count_last_period'].astype('int')
    res_df['count_mean_calc_period'] = InsertDataFrame['count_mean_calc_period'].astype('float')
    res_df['count_sem_calc_period'] = InsertDataFrame['count_sem_calc_period'].astype('float')
    res_df['score_value'] = InsertDataFrame['score_value'].astype('int')
    res_df['developer'] = 'maxim.zolotarev'
    res_df['developer'] = res_df['developer'].astype('str')

    pandas_gbq.to_gbq(res_df, destination_table=destination_table, project_id=ProjectId, if_exists='append')

In [4]:
DataFrame = getFreshData(CREDENTIALS,'findcsystem')
DataFrame.head(10)

Downloading: 100%|████████████████████████████████████████████████████████| 350461/350461 [00:30<00:00, 11702.74rows/s]

        id    created    updated  status  assignee_id
0  2140147 2017-01-01 2017-01-01  closed   4225872478
1  2140305 2017-01-01 2017-01-01  closed    379332361
2  2140360 2017-01-01 2017-01-01  closed  12604869947
3  2140375 2017-01-01 2017-01-01  closed  12604869947
4  2140359 2017-01-01 2017-01-01  closed  12604869947
5  2140841 2017-01-01 2017-01-01  closed    379332361
6  2141392 2017-01-02 2017-01-02  closed  14318037588
7  2142443 2017-01-02 2017-01-02  closed    774796347
8  2142384 2017-01-02 2017-01-02  closed  12604869947
9  2142389 2017-01-02 2017-01-02  closed  12604869947

In [5]:
#list of unique support agents

In [13]:
test_user = DataFrame[DataFrame.assignee_id == 379332361][:]
test_user.reset_index(inplace=True, drop=True)
test_user.head(10)

        id    created    updated  status  assignee_id
0  2140305 2017-01-01 2017-01-01  closed    379332361
1  2140841 2017-01-01 2017-01-01  closed    379332361
2  2144725 2017-01-04 2017-01-04  closed    379332361
3  2147682 2017-01-06 2017-01-06  closed    379332361
4  2148408 2017-01-07 2017-01-07  closed    379332361
5  2143389 2017-01-03 2017-01-07  closed    379332361
6  2151406 2017-01-09 2017-01-09  closed    379332361
7  2151148 2017-01-09 2017-01-10  closed    379332361
8  2141087 2017-01-01 2017-01-10  closed    379332361
9  2156420 2017-01-13 2017-01-13  closed    379332361

In [14]:
test_user.shape

(2160, 5)

In [15]:
test_result = workloadScoringByStatuses(test_user,63,7)
test_result

,assignee_id,status,count_last_period,count_mean_calc_period,count_sem_calc_period,score_value
0,379332361,closed,53,108.88,8.15,0

In [9]:
#insertScoreResultData(test_result,'findcsystem','xsolla_summer_school','score_result_status')

1it [00:03,  3.34s/it]