To-do:
1. Т.к в нашем распоряжении есть расчет скора по нескольким статусам, необходимо объединить 2 показателя в единую метрику оценки. Разработайте функцию объеденения, например рачетом среднего арифметического показателей по статусам. На вход функция должна принимать pandas dataframe с расчетом скора по статуасам, на выходе должен быть pandas dataframe со схемой {"assignee_id":assignne_id,"score_value":score_total}
2. В примере представлен скоринг только по одному агенту поддержки. Необходимо разработать программный код для скоринга по статусам всех имеющихся пользователям, результаты расчета сохранить в один pandas dataframe. Точно так же сформировать итоговый скор по каждому агенту поддержки и сохранить во второй pandas dataframe. В итоге у вас должно получиться 2 pandas dataframe, в одном результаты скоринга агентов поддержки в разрезе статуса (closed, solved), во втором результаты итогово скоринга агентов поддержки
3. Записать результаты расчетов в соответствующие таблицы базы данных BigQuery. В примере представлена функция для записи данных скоринга по статусам, сделайте это функцию универсальной для записи обоих наборов данных в соответствующие таблицы
4. Подготовка продакшен программного кода. Организуйте функции расчета скоринга в отдельный lib_main.py . Ораганизуйте __main__.py файл, импортируйте в него сожержимое файла lib_main.py, разработайте программный код извлечения сырых данных из базы данныз BigQuery, расчет скоринга по статусам и итогового скоринга, сделайте запись результатов работы алгоритма скоринга в соответствующие таблицы базы данных BigQuery. В итоге при запуске __main__.py файла должен полностью выполняться весь алгоритм скоринга без дополнительного вмешательства.
---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
5. В качестве гипотезы попробуйте добавить дополнительный разрез данных - канал в котором пришло обращение и расчитать загрузку по статусам и по каналам одновременно
6. В качестве гипотезы попробуйте использовать более робастные центральные меры данных и меры вариабильности, попробуйте иные способы формирования доверительного интервала
7. Напишите документацию к вашему алгоритму. Офишите математические концепции кратко и понятно, без глубоких выкладок, опишите источники данных, опишите схемы результирующих таблиц таким образом, чтобы было понятно любому человеку (почти)

In [1]:
from google.oauth2 import service_account
import pandas_gbq 

import numpy as np
import pandas as pd
import math as mt
import datetime as dt

In [2]:
CREDENTIALS = service_account.Credentials.from_service_account_info({
  "type": "service_account",
  "project_id": "findcsystem",
  "private_key_id": "36721f70db39fbb81267c346c2668f10ff0cf5db",
  "private_key": "-----BEGIN PRIVATE KEY-----\nMIIEvAIBADANBgkqhkiG9w0BAQEFAASCBKYwggSiAgEAAoIBAQDrna55UYM+/6kh\nGJnQ28+QWLv2Uv9D7jpSLyENeBFJMWAAWh1ZAlGctc/VgLr1vp5CU/w+2jONawMk\nFqQFoxcAAUIJT6KHHZqLU8zh7mDccpwUlfn7ZaQUbiR0J6ZH0nHmfQtk1FOs1TZU\nzJGtyNzUnpePsYJOdpsiZ+Ofh7i3kVubkOoIf/EdNdECOx2bbv7uKkERjIMYCJyh\nCRXgq2c/19CODEETmvEpUKjYCn9LSspBjTHiUUbT1JQfIAr73r1pXl52dATHIay9\nf4hNXAr8HUy0DpbiUCUdvzF5N+a8cl5tIHewNfXdv0pWMUmCJetKWk4FKIkMOlDQ\ny7Of3XdjAgMBAAECggEAGtUcww0w5LJJ6Q57qej2hOpOEZnXHz3Yn3ZljbqgQVUh\nqTiaAgJ9F9suvZJI+GaKcGRPJDtGRrMqquf3KvstSd9azWOnzzpkWLyk5w/2MPTO\naJvB2crz+i2m8iF30tMZDJYt/4AcvWCUrOiVKJTo7T/YY9Fj1Rq1xR/OsOLMev8X\nXbzU+ofW7G8gG/1FFb/qI1FsF0rz7O3zJD79OjJ8jZcz5V4FzCwg8yFumPbhDzlK\ne2oou3k55Owo2GKdRZUgmlpUSL8s3uk65q9vOOngXwp7qQMQwWueUfx608aIgeT9\n7OXBuMQ8mXbUkU7lYAWippvwejKQU0BQWpjttisanQKBgQD4kgM+BvV9R5froojE\niBaXfRf82bJpP9AH0tRWk86kaFhyGR3boioyVENkbMw54ZJVVA4zKukslzrasFUf\n+bM2595+0mtqMRWw+tiApm3ONwevOPxwn/ijTPJiqKQ96/24aA93oZcfZ9X38/4l\niFTYvMAG5YjHIsCE7zXJDRHg3QKBgQDyqIukCTIurPyHZ4EOUUZDWY50JTm0mCKg\nbTNOvM+h9lvnKHYrDrFG9gkb7lbzCZCcJJybtEUEki2D1kuJ4Wqu1/kI2ZPkp5Ie\n/ViJcxCzCj0fReo2+yOIsHHQ0AQADzmkHrMZYxYWUh8agPOB28Tw/8SZ9Dc1oVrN\nceTu+kkVPwKBgDgt6AWw1PMHp1JeXcLtbw21/CHtoeEfxwi9obgfl+iYnMTM4G6v\nbBIL8V9VJ6M9VDFs2fi+jgzB8U9T4yli6hpStXq8XAKYLWrehugstUySK25y1rst\nrKhbz7x0mQpVt/Zhrn0/TESQ108/GgWplmOV5WCpqAw50oE4/1L9XTkRAoGAD0Ir\n7beqUScNhhIrGlRf/7Is8/63PzTl0IKtXEEhKUUNiF6R96kn2pd0AS6ehw/N6ROg\nSWYvhNcQR579BwGGrNHl1fmghBtJY+t4WsRCg4+cQlAqJyTpmhnGPmQmLD7I2Boa\nFvmVFPg6/nanWT4Rhzn+CdRCeHvZ8ts7kw9n8w8CgYA3NBW4vaWh0ggxbI9dbG06\nZ6cY+b6guDlky/2HKXgZrCj+6DFVr/8XSdPw7s8ICrbywCbEZVXW+HOFb4fkZr5r\ni3VO9ihyCf9PzwgQ0hviL0fyJH1Ao3myySh5SyCxgcBoXEJhXG43aY70tQPTNLdP\n4SiylfHm6gEBJudzYov/iw==\n-----END PRIVATE KEY-----\n",
  "client_email": "xsolla-ss-2020-students@findcsystem.iam.gserviceaccount.com",
  "client_id": "105043181870281932141",
  "auth_uri": "https://accounts.google.com/o/oauth2/auth",
  "token_uri": "https://oauth2.googleapis.com/token",
  "auth_provider_x509_cert_url": "https://www.googleapis.com/oauth2/v1/certs",
  "client_x509_cert_url": "https://www.googleapis.com/robot/v1/metadata/x509/xsolla-ss-2020-students%40findcsystem.iam.gserviceaccount.com"
})

In [14]:
"""[summary]
Funtion for getting fresh data from BigQuery for workload scoring model
[description]
Credentials - google service account object with credentials data for project
SqlQuery - string, sql query for BigQeury database
[example]
Input: Credentials = credentials_object
       SqlQuery = 'select * from dataset_name.table_name'
Output: id	    created_at	        updated_at	        type	  subject   description	                                                                                          status	requester_id	submitter_id   assignee_id	 id_project	 id_invoice	channel	country	 manual_category  auto_category	 subcategory   feedback_score	feedback_comment
	    2520211	2018-02-05 08:59:15	2018-02-23 13:05:39	question	        Credit card payments not working from website.	I have been trying since Thursday 1st of Jan t...	  closed	360790164527	360790164527   20890258907	 21190	     316520736	other	za	     None	          None	         None	       unoffered	    None
        2740781	2018-08-17 01:48:04	2018-09-15 11:00:15	question	        Re: error showed during paid subscription on t...	__________________________________\nType your ... closed	365082895633	951579756	   360133124587	 15174	     367443669	email	za	     None	          None	         None	       offered	        None
"""
def getFreshData(Credentials,ProjectId):
    bigquery_sql = " ".join(["SELECT id, DATE(CAST(created_at AS DATETIME)) AS created, DATE(CAST(updated_at AS DATETIME)) AS updated, status, ifnull(channel,'none') as channel, assignee_id",
                             "FROM `xsolla_summer_school.customer_support`",
                             "WHERE status IN ('closed','solved')",
                             "ORDER BY updated_at"])

    dataframe = pandas_gbq.read_gbq(bigquery_sql,project_id=ProjectId, credentials=Credentials, dialect="standard")

    return dataframe


"""[summary]
Function for scoring workload by statuses (In Progress and Done), NumOfAllDays = 63, NumOfIntervalDays = 7
[description]
Data - pandas dataframe object, with hist data for customer support agent
NumOfAllDays - integer, number of days for all hist data
NumOfIntervalDays - integer, number of days for weekly calculating interval
[example]
Input: Data = id	    created	    updated	    status	channel	     assignee_id
              2140147	2017-01-01	2017-01-01	closed	help_widget	 4225872478
              2140305	2017-01-01	2017-01-01	closed	help_widget	 379332361
       NumOfAllDays = 63
       NumOfIntervalDays = 7
Output: assignee_id	 status	 count_last_period	count_mean_calc_period	count_sem_calc_period	score_value
        12604869947	 closed	 196	            196.62	                9.43	                1
        12604869947	 solved	 0	                0.00	                0.00	                0    
"""
def workloadScoringByStatuses(Data,NumOfAllDays,NumOfIntervalDays):
    
    assignee_id_all = np.unique(Data.assignee_id)
    
    scores = pd.DataFrame(columns=["assignee_id","status", "count_last_period","count_mean_calc_period","count_sem_calc_period", "score_value"])
    
    for assignee_id in assignee_id_all:
        #splitting by status
        statuses = np.unique(Data[Data.assignee_id == assignee_id].status)
        assignee_id_list = []
        status_list = []
        avg_num_of_task_per_week_list = []
        ste_list = []
        num_tasks_per_current_week_list = []
        score_for_status_list = []
        for status in statuses:
            dataframe_status = Data[(Data.status == str(status)) & (Data.assignee_id == assignee_id)][:]
            #dataframe_status = dataframe_status[dataframe_status.assignee_id == assignee_id]
            
            #time borders params
            curr_date = dt.datetime.strptime(str('2018-09-01'),'%Y-%m-%d')
            curr_date = curr_date.date()
            delta = dt.timedelta(days=NumOfAllDays)
            first_date = curr_date-delta

            #time interval params
            delta_interval = dt.timedelta(days=NumOfIntervalDays)
            first_interval = first_date+delta_interval

            num_of_intervals = int(NumOfAllDays/NumOfIntervalDays)
            num_tasks_per_week = []
            for i in range(0,num_of_intervals):
                interval = dataframe_status[(dataframe_status.updated >= str(first_date)) & (dataframe_status.updated <= str(first_interval))][:]
                first_date = first_date + delta_interval
                first_interval = first_interval + delta_interval

                if i != (num_of_intervals-1):        
                    num_of_tasks = len(np.unique(interval['id']))
                    num_tasks_per_week.append(num_of_tasks) #history number of tasks
                else:
                    num_tasks_per_current_week = len(np.unique(interval['id'])) #currently number of tasks

            avg_num_of_task_per_week = round(np.mean(num_tasks_per_week),2)

            #squared deviations
            x_values = []
            for num in num_tasks_per_week:
                x = round((num - avg_num_of_task_per_week)**2,2)
                x_values.append(x)

            #data sampling statistics
            x_sum = round(sum(x_values),2) #sum of squared deviations
            dispersion = round(x_sum/(num_of_intervals-1),2) #dispersion
            std = round(mt.sqrt(dispersion),2) #standart deviation for sample
            ste = round(std/mt.sqrt(num_of_intervals),2) #standart error for sample

            #confidence interval
            left_border = int(avg_num_of_task_per_week - ste)
            right_border = int(avg_num_of_task_per_week + ste)

            #workload scoring for status
            score_for_status = workloadScoreStatuses(left_border,right_border,num_tasks_per_current_week)        
            assignee_id_list.append(assignee_id)
            status_list.append(status)
            avg_num_of_task_per_week_list.append(avg_num_of_task_per_week)
            ste_list.append(ste)
            num_tasks_per_current_week_list.append(num_tasks_per_current_week)
            score_for_status_list.append(score_for_status)

        score_data = {"assignee_id":assignee_id_list,"status":status_list,
                      "count_last_period":num_tasks_per_current_week_list,"count_mean_calc_period":avg_num_of_task_per_week_list,"count_sem_calc_period":ste_list,
                      "score_value":score_for_status_list}
        scores = pd.concat([scores,pd.DataFrame(data=score_data)])
            
    scores.reset_index(inplace=True, drop=True)
    return scores


"""[summary]
Function for scoring workload for current status
[description]
LeftBoard - float, left boarder for confidence interval
RightBoard - float right boarder for confidence interval
CurrentNumOfTasks - integer, number of customer support agent tasks for current interval (7 days)
[example]
Input: LeftBoard = 187
       RightBoard = 206
       CurrentNumOfTasks = 196
Output: 1
"""
def workloadScoreStatuses(LeftBoard,RightBoard,CurrentNumOfTasks):
    if (LeftBoard == 0) & (CurrentNumOfTasks == 0) & (RightBoard == 0):
        score = 0
    elif (CurrentNumOfTasks >= 0) & (CurrentNumOfTasks < LeftBoard):
        score = 0
    elif (CurrentNumOfTasks >= LeftBoard) & (CurrentNumOfTasks <= RightBoard):
        score = 1
    else:
        score = 2
    
    return score


"""[summary]
Function for inserting score data and total score data to BigQuery database
[description]
insertScoreByStatus - pandas dtaframe object, with score result data by statuses
insertScoreTotal - pandas dtaframe object, with total score result data by statuses
TableIdStatus - string, name of table for raw data with scores by statuses
TableIdTotal - string, name of table for raw data with total scores
ProjectId - string, name of project in google cloud platform 
DatasetId - string, name of dataset in bigquery for raw data

[example]
Input: insertScoreByStatus = assignee_id	status	count_last_period	count_mean_calc_period	count_sem_calc_period	score_value
                             123193832  	closed	0	                0.00	                0.00	                0
                             288517962	    closed	0	                0.00	                0.00	                0
       insertScoreTotal = assignee_id	score_value
                          123193832	    0.0
                          288517962	    0.0
       TableIdStatus = 'test_result'
       TableIdTotal = 'test_result_total'
       ProjectId = 'test-gcp-project'
       DatasetId = 'test_dataset'
       TableId = 'test_table'
"""  
    
def insertScoreResultData(insertScoreByStatus, insertScoreTotal,TableIdStatus,TableIdTotal, ProjectId,DatasetId):
    destination_table = f"{DatasetId}.{TableIdStatus}"    
    res_df = pd.DataFrame()
    res_df['assignee_id'] = insertScoreByStatus['assignee_id'].astype('int64')
    res_df['status'] = insertScoreByStatus['status'].astype('str')
    res_df['count_last_period'] = insertScoreByStatus['count_last_period'].astype('int')
    res_df['count_mean_calc_period'] = insertScoreByStatus['count_mean_calc_period'].astype('float')
    res_df['count_sem_calc_period'] = insertScoreByStatus['count_sem_calc_period'].astype('float')
    res_df['score_value'] = insertScoreByStatus['score_value'].astype('int')
    res_df['developer'] = 'dmitrii.khairtdinov'
    res_df['developer'] = res_df['developer'].astype('str')

    pandas_gbq.to_gbq(res_df, destination_table=destination_table, project_id=ProjectId, if_exists='append')    
    
    destination_table = f"{DatasetId}.{TableIdTotal}"  
    res_df = pd.DataFrame()
    res_df['assignee_id'] = insertScoreTotal['assignee_id'].astype('int64')
    res_df['score_value'] = insertScoreTotal['score_value'].astype('float')
    res_df['developer'] = 'dmitrii.khairtdinov'
    res_df['developer'] = res_df['developer'].astype('str')

    pandas_gbq.to_gbq(res_df, destination_table=destination_table, project_id=ProjectId, if_exists='append') 
    
    
"""[summary]
Function for calculation total score values
[description]
NumOfIntervalDays - integer, number of days for weekly calculating interval
[example]
Input: scoreByStatuses = assignee_id	status	count_last_period	count_mean_calc_period	count_sem_calc_period	score_value
                         123193832  	closed	0	                0.00	                0.00	                0
                         288517962	    closed	0	                0.00	                0.00	                0

Output: assignee_id	    score_value
        123193832	    0.0
        288517962	    0.0
"""
def workloadScoringTotal(scoreByStatuses):
    #scoreByStatuses = test_result[:]
    score_total = pd.DataFrame(columns=['assignee_id', 'score_value'])
    assignee_id_all = scoreByStatuses.assignee_id.unique()
    
    for assignee_id in assignee_id_all:
        sum_total = 0
        statuses_list = scoreByStatuses[scoreByStatuses.assignee_id == assignee_id].status[:]
        
        for status in statuses_list:
            status_score_value = int(scoreByStatuses[(scoreByStatuses.status == status) & (scoreByStatuses.assignee_id == assignee_id)].score_value)
            sum_total = sum_total + status_score_value
            
        score_total_value = sum_total/len(statuses_list)
        score_data = {"assignee_id":assignee_id,"score_value":score_total_value}
        score_total = pd.concat([score_total,pd.DataFrame(data=score_data,columns=['assignee_id', 'score_value'],index=[0])])
    
    score_total.reset_index(inplace=True, drop=True)
    return score_total



"""[summary]
Function for inserting data to BigQuery database
[description]
InsertDataFrame - pandas dtaframe object, with score result data by statuses
ProjectId - string, name of project in google cloud platform 
DatasetId - string, name of dataset in bigquery for raw data
TableId - string, name of table for raw data
[example]
Input: InsertDataFrame = assignee_id	status	count_last_period	count_mean_calc_period	count_sem_calc_period	score_value
                         11527290367	closed	163	                140.38	                12.4	                2
                         11527290367	solved	0	                0.00	                0.0 	                0
       ProjectId = 'test-gcp-project'
       DatasetId = 'test_dataset'
       TableId = 'test_table'
""" 
def insertScoreChannelData(InsertDataFrame,ProjectId,DatasetId,TableId):
    destination_table = f"{DatasetId}.{TableId}"
    
    res_df = pd.DataFrame()
    res_df['assignee_id'] = InsertDataFrame['assignee_id'].astype('int64')
    res_df['status'] = InsertDataFrame['status'].astype('str')
    res_df['count_last_period'] = InsertDataFrame['count_last_period'].astype('int')
    res_df['count_mean_calc_period'] = InsertDataFrame['count_mean_calc_period'].astype('float')
    res_df['count_sem_calc_period'] = InsertDataFrame['count_sem_calc_period'].astype('float')
    res_df['score_value'] = InsertDataFrame['score_value'].astype('int')
    res_df['channel'] = InsertDataFrame['channel'].astype('str')
    res_df['developer'] = 'dmitrii.khairtdinov'
    res_df['developer'] = res_df['developer'].astype('str')

    pandas_gbq.to_gbq(res_df, destination_table=destination_table, project_id=ProjectId, if_exists='append')

    
"""[summary]
Function for scoring workload by statuses (In Progress and Done) an channels, NumOfAllDays = 63, NumOfIntervalDays = 7
[description]
Data - pandas dataframe object, with hist data for customer support agent
NumOfAllDays - integer, number of days for all hist data
NumOfIntervalDays - integer, number of days for weekly calculating interval
[example]
Input: Data = id	    created	    updated	    status	channel	     assignee_id
              2140147	2017-01-01	2017-01-01	closed	help_widget	 4225872478
              2140305	2017-01-01	2017-01-01	closed	help_widget	 379332361
       NumOfAllDays = 63
       NumOfIntervalDays = 7
Output: assignee_id	 status	 count_last_period	count_mean_calc_period	count_sem_calc_period	score_value
        12604869947	 closed	 196	            196.62	                9.43	                1
        12604869947	 solved	 0	                0.00	                0.00	                0    
"""    
def workloadScoringByStatusesByChannel(Data,NumOfAllDays,NumOfIntervalDays):
    
    assignee_id_all = np.unique(Data.assignee_id)
    
    scores = pd.DataFrame(columns=["assignee_id","status","channel", "count_last_period","count_mean_calc_period","count_sem_calc_period", "score_value"])
    
    for assignee_id in assignee_id_all:
        #splitting by status
        statuses = np.unique(Data[Data.assignee_id == assignee_id].status)
        assignee_id_list = []
        status_list = []
        avg_num_of_task_per_week_list = []
        ste_list = []
        num_tasks_per_current_week_list = []
        score_for_status_list = []
        channel_list = []
        
        channels = np.unique(Data[Data.assignee_id == assignee_id].channel)
        for channel in channels:
            
            for status in statuses:
                dataframe_status = Data[(Data.status == str(status)) & (Data.assignee_id == assignee_id) & (Data.channel == str(channel))][:]
                
                #time borders params
                curr_date = dt.datetime.strptime(str('2018-09-01'),'%Y-%m-%d')
                curr_date = curr_date.date()
                delta = dt.timedelta(days=NumOfAllDays)
                first_date = curr_date-delta

                #time interval params
                delta_interval = dt.timedelta(days=NumOfIntervalDays)
                first_interval = first_date+delta_interval

                num_of_intervals = int(NumOfAllDays/NumOfIntervalDays)
                num_tasks_per_week = []
                for i in range(0,num_of_intervals):
                    interval = dataframe_status[(dataframe_status.updated >= str(first_date)) & (dataframe_status.updated <= str(first_interval))][:]
                    first_date = first_date + delta_interval
                    first_interval = first_interval + delta_interval

                    if i != (num_of_intervals-1):        
                        num_of_tasks = len(np.unique(interval['id']))
                        num_tasks_per_week.append(num_of_tasks) #history number of tasks
                    else:
                        num_tasks_per_current_week = len(np.unique(interval['id'])) #currently number of tasks

                avg_num_of_task_per_week = round(np.mean(num_tasks_per_week),2)

                #squared deviations
                x_values = []
                for num in num_tasks_per_week:
                    x = round((num - avg_num_of_task_per_week)**2,2)
                    x_values.append(x)

                #data sampling statistics
                x_sum = round(sum(x_values),2) #sum of squared deviations
                dispersion = round(x_sum/(num_of_intervals-1),2) #dispersion
                std = round(mt.sqrt(dispersion),2) #standart deviation for sample
                ste = round(std/mt.sqrt(num_of_intervals),2) #standart error for sample

                #confidence interval
                left_border = int(avg_num_of_task_per_week - ste)
                right_border = int(avg_num_of_task_per_week + ste)

                #workload scoring for status
                score_for_status = workloadScoreStatuses(left_border,right_border,num_tasks_per_current_week)        
                assignee_id_list.append(assignee_id)
                status_list.append(status)
                avg_num_of_task_per_week_list.append(avg_num_of_task_per_week)
                ste_list.append(ste)
                num_tasks_per_current_week_list.append(num_tasks_per_current_week)
                score_for_status_list.append(score_for_status)
                channel_list.append(channel)

        score_data = {"assignee_id":assignee_id_list,"status":status_list,"channel":channel_list,
                          "count_last_period":num_tasks_per_current_week_list,"count_mean_calc_period":avg_num_of_task_per_week_list,"count_sem_calc_period":ste_list,
                          "score_value":score_for_status_list}
        scores = pd.concat([scores,pd.DataFrame(data=score_data)])
            
    scores.reset_index(inplace=True, drop=True)
    return scores

In [15]:
DataFrame = getFreshData(CREDENTIALS,'findcsystem')
DataFrame.head(10)

Downloading: 100%|█████████████████████████████████████████████████████████| 350461/350461 [00:30<00:00, 9417.40rows/s]

        id    created    updated  status      channel  assignee_id
0  2140147 2017-01-01 2017-01-01  closed  help_widget   4225872478
1  2140305 2017-01-01 2017-01-01  closed  help_widget    379332361
2  2140360 2017-01-01 2017-01-01  closed  help_widget  12604869947
3  2140375 2017-01-01 2017-01-01  closed  help_widget  12604869947
4  2140359 2017-01-01 2017-01-01  closed  help_widget  12604869947
5  2140841 2017-01-01 2017-01-01  closed  help_widget    379332361
6  2141392 2017-01-02 2017-01-02  closed  help_widget  14318037588
7  2142443 2017-01-02 2017-01-02  closed  help_widget    774796347
8  2142384 2017-01-02 2017-01-02  closed  help_widget  12604869947
9  2142389 2017-01-02 2017-01-02  closed  help_widget  12604869947

In [16]:
#list of unique support agents
DataFrame['assignee_id'].nunique()

53

In [17]:
#test_user = DataFrame[DataFrame.assignee_id ==4225872478 ][:]
test_user = DataFrame[:]
test_user.reset_index(inplace=True, drop=True)
test_user.head(10)

        id    created    updated  status      channel  assignee_id
0  2140147 2017-01-01 2017-01-01  closed  help_widget   4225872478
1  2140305 2017-01-01 2017-01-01  closed  help_widget    379332361
2  2140360 2017-01-01 2017-01-01  closed  help_widget  12604869947
3  2140375 2017-01-01 2017-01-01  closed  help_widget  12604869947
4  2140359 2017-01-01 2017-01-01  closed  help_widget  12604869947
5  2140841 2017-01-01 2017-01-01  closed  help_widget    379332361
6  2141392 2017-01-02 2017-01-02  closed  help_widget  14318037588
7  2142443 2017-01-02 2017-01-02  closed  help_widget    774796347
8  2142384 2017-01-02 2017-01-02  closed  help_widget  12604869947
9  2142389 2017-01-02 2017-01-02  closed  help_widget  12604869947

In [18]:
test_result = workloadScoringByStatuses(test_user,63,7)
test_result.head(106)

,assignee_id,status,count_last_period,count_mean_calc_period,count_sem_calc_period,score_value
0,123193832,closed,0,0.00,0.00,0
1,288517962,closed,0,0.00,0.00,0
2,291235568,closed,0,0.00,0.00,0
3,291235568,solved,0,0.00,0.00,0
4,291458441,closed,1,4.12,2.64,1
5,291458441,solved,0,3.00,2.03,1
6,291643586,closed,0,0.00,0.00,0
7,379332361,closed,0,0.00,0.00,0
8,502786743,closed,35,34.62,4.09,1
9,502786743,solved,10,11.75,1.60,1
10,774796347,closed,0,0.00,0.00,0
11,867359386,closed,0,0.00,0.00,0
12,867359386,solved,0,0.00,0.00,0
13,1162180708,closed,0,0.00,0.00,0
14,1430684637,closed,129,269.12,15.82,0
15,1430684637,solved,19,29.12,4.33,0
16,2329316498,closed,129,126.25,9.96,1
17,2329316498,solved,12,31.00,3.14,0
18,4225872478,closed,123,86.00,19.55,2
19,4225872478,solved,45,42.75,9.27,1
20,8061106928,closed,599,404.38,35.77,2
21,8061106928,solved,21,59.75,7.93,0
22,10574264847,closed,9,17.00,3.44,0
23,10574264847,solved,7,13.62,2.91,0
24,10735982687,closed,0,0.00,0.00,0
25,11527290367,closed,0,0.00,0.00,0
26,11527290367,solved,0,0.00,0.00,0
27,12604869947,closed,7,13.75,1.74,0
28,12604869947,solved,10,23.50,3.93,0
29,14318037588,closed,0,0.00,0.00,0
...,...,...,...,...,...,...
60,26979706288,closed,90,120.62,25.23,0
61,26979706288,solved,0,35.62,8.51,0
62,27220108387,closed,0,0.00,0.00,0
63,27220108387,solved,0,0.00,0.00,0
64,27654508988,closed,367,148.12,41.21,2
65,27654508988,solved,9,17.62,5.48,0
66,360133124587,closed,36,62.25,13.25,0
67,360133124587,solved,74,88.38,13.00,0
68,361576272808,closed,0,0.00,0.00,0
69,361576272808,solved,0,0.00,0.00,0
70,361576678608,closed,0,0.00,0.00,0
71,361576678608,solved,0,0.00,0.00,0
72,361596485307,closed,87,85.25,15.12,1
73,361596485307,solved,3,18.62,3.39,0
74,363719971907,closed,163,146.75,11.62,2
75,363719971907,solved,7,33.75,6.95,0
76,363719974507,closed,163,185.12,18.93,0
77,363719974507,solved,143,109.00,23.16,2
78,364566660327,closed,419,269.75,35.33,2
79,364566660327,solved,17,13.38,1.95,2
80,364622202673,closed,7,0.00,0.00,2
81,364622202673,solved,2,14.62,7.74,0
82,364726003288,closed,117,79.12,18.82,2
83,364726003288,solved,1,21.75,3.73,0
84,365273409867,closed,47,35.12,13.49,1
85,365273409867,solved,71,12.25,3.32,2
86,365657486013,closed,0,0.00,0.00,0
87,365657486013,solved,0,0.00,0.00,0
88,365658390953,closed,0,0.00,0.00,0
89,365658390953,solved,0,0.00,0.00,0

In [19]:
#insertScoreResultData(test_result,'findcsystem','xsolla_summer_school','score_result_status')

In [20]:
test_result_total=workloadScoringTotal(test_result)
test_result_total

     assignee_id  score_value
0      123193832          0.0
1      288517962          0.0
2      291235568          0.0
3      291458441          1.0
4      291643586          0.0
5      379332361          0.0
6      502786743          1.0
7      774796347          0.0
8      867359386          0.0
9     1162180708          0.0
10    1430684637          0.0
11    2329316498          0.5
12    4225872478          1.5
13    8061106928          1.0
14   10574264847          0.0
15   10735982687          0.0
16   11527290367          0.0
17   12604869947          0.0
18   14318037588          0.0
19   15294499287          0.0
20   16913504828          1.0
21   18168708607          0.0
22   18251419728          0.0
23   19185592868          0.0
24   19949080948          0.0
25   20890258907          1.0
26   20966194228          0.0
27   21509255328          0.0
28   21627434567          1.5
29   21703602368          0.0
30   22415990187          1.0
31   24524589027          0.0
32   25016708788          0.0
33   25314245267          0.0
34   25314864667          0.0
35   25314880867          0.0
36   25872102447          0.0
37   25960267408          0.0
38   26979706288          0.0
39   27220108387          0.0
40   27654508988          1.0
41  360133124587          0.0
42  361576272808          0.0
43  361576678608          0.0
44  361596485307          0.5
45  363719971907          1.0
46  363719974507          1.0
47  364566660327          2.0
48  364622202673          1.0
49  364726003288          1.0
50  365273409867          1.5
51  365657486013          0.0
52  365658390953          0.0

In [21]:
#insertScoreResultData(test_result, test_result_total,'score_result_status','score_result_total', 'findcsystem','xsolla_summer_school')

In [22]:
#test_user = DataFrame[DataFrame.assignee_id ==4225872478 ][:]
test_user = DataFrame[:]
test_result_channel = workloadScoringByStatusesByChannel(test_user,63,7)

In [23]:
test_result_channel.sort_values('count_mean_calc_period',ascending=False)

,assignee_id,status,channel,count_last_period,count_mean_calc_period,count_sem_calc_period,score_value
107,1430684637,closed,zendesk,117,233.25,17.07,0
685,364566660327,closed,chat,294,200.75,28.39,2
401,22415990187,closed,chat,367,190.75,17.63,2
171,8061106928,closed,zendesk,317,183.00,15.36,2
322,20890258907,closed,chat,238,164.00,24.39,2
663,363719974507,closed,chat,120,133.75,15.70,1
153,8061106928,closed,chat,89,103.62,9.56,0
543,27654508988,closed,chat,292,101.88,31.90,2
641,363719971907,closed,chat,89,92.75,9.10,1
505,26979706288,closed,chat,49,68.00,15.54,0
373,21627434567,closed,chat,84,65.50,20.16,1
345,20966194228,solved,chat,1,58.50,17.95,0
111,2329316498,closed,chat,63,54.00,5.58,2
159,8061106928,closed,help_widget,85,49.50,9.32,2
342,20966194228,closed,call,20,45.75,6.86,0
572,360133124587,solved,help_widget,34,44.75,6.80,0
670,363719974507,solved,help_widget,35,44.38,8.54,1
664,363719974507,solved,chat,89,41.75,14.35,2
683,364566660327,closed,call,84,40.88,6.42,2
568,360133124587,solved,email,40,40.50,6.62,1
133,4225872478,closed,chat,25,39.75,12.97,0
725,364726003288,closed,chat,50,38.00,9.15,2
457,25314245267,closed,chat,0,36.50,17.71,0
399,22415990187,closed,call,55,36.25,4.76,2
571,360133124587,closed,help_widget,28,34.38,7.69,1
344,20966194228,closed,chat,1,32.62,10.16,0
621,361596485307,closed,chat,46,32.50,6.51,2
117,2329316498,closed,help_widget,23,32.50,8.32,0
109,2329316498,closed,call,33,32.00,2.29,1
371,21627434567,closed,call,34,31.88,6.58,1
...,...,...,...,...,...,...,...
364,21509255328,closed,call,0,0.00,0.00,0
365,21509255328,closed,chat,0,0.00,0.00,0
366,21509255328,closed,email,0,0.00,0.00,0
367,21509255328,closed,facebook,0,0.00,0.00,0
368,21509255328,closed,help_widget,0,0.00,0.00,0
369,21509255328,closed,other,0,0.00,0.00,0
370,21509255328,closed,twitter,0,0.00,0.00,0
378,21627434567,solved,facebook,0,0.00,0.00,0
382,21627434567,solved,none,0,0.00,0.00,0
386,21627434567,solved,sms,0,0.00,0.00,0
387,21627434567,closed,telegram,0,0.00,0.00,0
356,20966194228,closed,sms,0,0.00,0.00,0
354,20966194228,closed,other,0,0.00,0.00,0
353,20966194228,solved,none,0,0.00,0.00,0
314,19185592868,solved,telegram,0,0.00,0.00,0
301,19185592868,closed,chat,0,0.00,0.00,0
305,19185592868,closed,facebook,0,0.00,0.00,0
306,19185592868,solved,facebook,0,0.00,0.00,0
309,19185592868,closed,none,0,0.00,0.00,0
310,19185592868,solved,none,0,0.00,0.00,0
312,19185592868,solved,other,0,0.00,0.00,0
316,19185592868,solved,twitter,0,0.00,0.00,0
339,20890258907,solved,twitter,1,0.00,0.00,2
319,19949080948,closed,help_widget,0,0.00,0.00,0
321,20890258907,solved,call,0,0.00,0.00,0
327,20890258907,solved,facebook,0,0.00,0.00,0
331,20890258907,solved,none,0,0.00,0.00,0
335,20890258907,solved,sms,0,0.00,0.00,0
338,20890258907,closed,twitter,0,0.00,0.00,0
788,365658390953,solved,zendesk,0,0.00,0.00,0

In [24]:
#insertScoreChannelData(test_result_channel, 'findcsystem','xsolla_summer_school', 'score_result_status_channel')
#(InsertDataFrame,ProjectId,DatasetId,TableId):

In [25]:
print(test_result_channel)

      assignee_id  status      channel count_last_period  \
0       123193832  closed        email                 0
1       123193832  closed  help_widget                 0
2       123193832  closed        other                 0
3       288517962  closed         call                 0
4       288517962  closed         chat                 0
5       288517962  closed        email                 0
6       288517962  closed     facebook                 0
7       288517962  closed  help_widget                 0
8       288517962  closed     intercom                 0
9       288517962  closed        other                 0
10      288517962  closed      twitter                 0
11      291235568  closed        email                 0
12      291235568  solved        email                 0
13      291235568  closed     facebook                 0
14      291235568  solved     facebook                 0
15      291235568  closed  help_widget                 0
16      291235568  solved  help_widget                 0
17      291235568  closed        other                 0
18      291235568  solved        other                 0
19      291235568  closed      zendesk                 0
20      291235568  solved      zendesk                 0
21      291458441  closed         chat                 0
22      291458441  solved         chat                 0
23      291458441  closed        email                 1
24      291458441  solved        email                 0
25      291458441  closed     facebook                 0
26      291458441  solved     facebook                 0
27      291458441  closed  help_widget                 0
28      291458441  solved  help_widget                 0
29      291458441  closed        other                 0
..            ...     ...          ...               ...
759  365657486013  closed         call                 0
760  365657486013  solved         call                 0
761  365657486013  closed         chat                 0
762  365657486013  solved         chat                 0
763  365657486013  closed        email                 0
764  365657486013  solved        email                 0
765  365657486013  closed     facebook                 0
766  365657486013  solved     facebook                 0
767  365657486013  closed  help_widget                 0
768  365657486013  solved  help_widget                 0
769  365657486013  closed         none                 0
770  365657486013  solved         none                 0
771  365657486013  closed          sms                 0
772  365657486013  solved          sms                 0
773  365657486013  closed      zendesk                 0
774  365657486013  solved      zendesk                 0
775  365658390953  closed         call                 0
776  365658390953  solved         call                 0
777  365658390953  closed         chat                 0
778  365658390953  solved         chat                 0
779  365658390953  closed        email                 0
780  365658390953  solved        email                 0
781  365658390953  closed     facebook                 0
782  365658390953  solved     facebook                 0
783  365658390953  closed  help_widget                 0
784  365658390953  solved  help_widget                 0
785  365658390953  closed          sms                 0
786  365658390953  solved          sms                 0
787  365658390953  closed      zendesk                 0
788  365658390953  solved      zendesk                 0

     count_mean_calc_period  count_sem_calc_period score_value
0                      0.00                   0.00           0
1                      0.00                   0.00           0
2                      0.00                   0.00           0
3                      0.00                   0.00           0
4                      0.00                   0.00           0
5                      0.00                   0.00           0
6                      0.00                   0.00           0
7                      0.00                   0.00           0
8                      0.00                   0.00           0
9                      0.00                   0.00           0
10                     0.00                   0.00           0
11                     0.00                   0.00           0
12                     0.00                   0.00           0
13                     0.00                   0.00           0
14                     0.00                   0.00           0
15                     0.00                   0.00           0
16                     0.00                   0.00           0
17                     0.00                   0.00           0
18                     0.00                   0.00           0
19                     0.00                   0.00           0
20                     0.00                   0.00           0
21                     0.12                   0.11           0
22                     0.00                   0.00           0
23                     1.88                   1.05           1
24                     1.75                   1.18           1
25                     0.00                   0.00           0
26                     0.00                   0.00           0
27                     1.75                   1.42           1
28                     1.12                   0.87           1
29                     0.00                   0.00           0
..                      ...                    ...         ...
759                    0.00                   0.00           0
760                    0.00                   0.00           0
761                    0.00                   0.00           0
762                    0.00                   0.00           0
763                    0.00                   0.00           0
764                    0.00                   0.00           0
765                    0.00                   0.00           0
766                    0.00                   0.00           0
767                    0.00                   0.00           0
768                    0.00                   0.00           0
769                    0.00                   0.00           0
770                    0.00                   0.00           0
771                    0.00                   0.00           0
772                    0.00                   0.00           0
773                    0.00                   0.00           0
774                    0.00                   0.00           0
775                    0.00                   0.00           0
776                    0.00                   0.00           0
777                    0.00                   0.00           0
778                    0.00                   0.00           0
779                    0.00                   0.00           0
780                    0.00                   0.00           0
781                    0.00                   0.00           0
782                    0.00                   0.00           0
783                    0.00                   0.00           0
784                    0.00                   0.00           0
785                    0.00                   0.00           0
786                    0.00                   0.00           0
787                    0.00                   0.00           0
788                    0.00                   0.00           0

[789 rows x 7 columns]